# InfluxDB
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=admin12345
INFLUXDB_ORG=pms-org
INFLUXDB_BUCKET=sensor-data
INFLUXDB_TOKEN=my-super-secret-token

# Kafka
KAFKA_BROKER=localhost:9092
SENSOR_TOPIC=sensor-telemetry
BEARING_TOPIC=bearing-telemetry